.tituloProducto {
    margin-top: 20px;
    background-color: $color-naranja;
    color: $color-blanco;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.nombreProducto {
    font-size: 30px;
    font-weight: bold;
}

.producto {
    width: 100%;
    height: auto;
}

.colorBtn {
    background-color: orangered;
    color: white;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
        background-color: black;
        color: white;
    }
}